<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Resume</title>

  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet' %}">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

   <!-- Intro Section -->
  <section id="hero" class="d-flex align-items-center">

    <div class="ai">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <img class="top-1" src="{% static 'assets/img/ai/top-1.png' %}" alt="">
            <div class="user-name">
              <h1>NAME SURNAME</h1>
              <h2>JOB POSITION</h2>
            </div>
          </div>
          <div class="col-lg-12">
            <img class="top-2" src="{% static 'assets/img/ai/top-2.png' %}" alt="">
          </div>
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-4">
                <div class="headline">
                  <h2><img src="{% static 'assets/img/ai/icon-1.svg' %}" alt="">CONTACT</h2>
                  <ul>
                    <li><img src="{% static 'assets/img/ai/phone.svg' %}" alt=""> 123 456 789</li>
                    <li><img src="{% static 'assets/img/ai/email.svg' %}" alt="">art@brownw.com</li>
                    <li><img src="{% static 'assets/img/ai/location.svg' %}" alt="">Your address</li>
                    <li><hr></li>
                    <li><img src="{% static 'assets/img/ai/facebook.svg' %}" alt="">Your address</li>
                    <li><img src="{% static 'assets/img/ai/twitter.svg' %}" alt="">Your address</li>
                    <li><img src="{% static 'assets/img/ai/instagram.svg' %}" alt="">Your address</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="headline-right">
                <h2><img src="{% static 'assets/img/ai/icon-1.svg' %}" alt="">ABOUT ME</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod .Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure </p>
              </div>
              </div>
            </div>

          </div>

          <div class="col-lg-12">
            <img class="top-3" src="{% static 'assets/img/ai/top-3.png' %}" alt="">
            <div class="row">
              <div class="col-lg-4">
              </div>
              <div class="col-lg-8">
                <div class="work-experience">
                  <h2><img src="{% static 'assets/img/ai/icon-1.svg' %}" alt="">WORK EXPERIENCE</h2>
                  <ul>
                    <li>
                      <h3>COMPANY 2000-2003</h3>
                      <p>Lorem ipsum dolor sit amet enim, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </li>
                    <li>
                      <h3>COMPANY 2004-2006</h3>
                      <p>Lorem ipsum dolor sit amet enim, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </li>
                    <li>
                      <h3>COMPANY 2010-2018</h3>
                      <p>Lorem ipsum dolor sit amet enim, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <img class="top-4" src="{% static 'assets/img/ai/top-4.png' %}" alt="">

            <div class="row">
              <div class="col-lg-4">
                <div class="headline">
                  <h2><img src="{% static 'assets/img/ai/icon-1.svg' %}" alt="">SKILL</h2>
                  <ul class="star-rate">
                    <li><img src="{% static 'assets/img/ai/star-1.png' %}" alt="">Photoshop</li>
                    <li><img src="{% static 'assets/img/ai/star-2.png' %}" alt="">Lightroom</li>
                    <li><img src="{% static 'assets/img/ai/star-3.png' %}" alt="">Indesign</li>
                    <li><img src="{% static 'assets/img/ai/star-1.png' %}" alt="">Illustrator</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="headline-right-1">
                  <h2><img src="{% static 'assets/img/ai/icon-1.svg' %}" alt="">HOBBIES</h2>
                  <ul>
                    <li>Music</li>
                    <li>Writing</li>
                    <li>Soccer</li>
                    <li>Basketball</li>
                  </ul>
                </div>
              </div>
            </div>
         </div>

         <div class="col-lg-12">
          <img class="top-5" src="{% static 'assets/img/ai/top-5.png' %}" alt="">
         </div>
        </div>
      </div>
    </div>

  </section>
  <!-- end -->

</body>

</html>
